In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("casestudy.csv")
df

        Unnamed: 0         customer_email  net_revenue  year
0                0   nhknapwsbx@gmail.com       249.92  2015
1                1   joiuzbvcpn@gmail.com        87.61  2015
2                2   ukkjctepxt@gmail.com       168.38  2015
3                3   gykatilzrt@gmail.com        62.40  2015
4                4   mmsgsrtxah@gmail.com        43.08  2015
...            ...                    ...          ...   ...
685922      685922   qzqttwiftu@gmail.com       184.58  2017
685923      685923   pjodiifjop@gmail.com       133.03  2017
685924      685924   appaplmgko@gmail.com       200.98  2017
685925      685925   wvkpmwsgck@gmail.com       235.35  2017
685926      685926   aregboumbw@gmail.com       208.43  2017

[685927 rows x 4 columns]

In [10]:
#•	Total revenue for the current year (2017)
this_year = df[df['year'] == 2017]
total_revenue = this_year['net_revenue'].sum()
total_revenue

31417495.030000016

In [22]:
#•	Total Customers Current Year(2017)
this_year = df[df['year'] == 2017]
total_customers =  this_year['customer_email'].count()
total_customers

249987

In [23]:
#•	Total Customers Previous Year(2016)
previous_year = df[df['year'] == 2016]
previous_total_customers =  previous_year['customer_email'].count()
previous_total_customers

204646

In [35]:
#•	New Customer Revenue e.g. new customers not present in previous year only For YEar 2017
customers = df.pivot(index ='customer_email', columns ='year', values ='net_revenue')
customers

year                     2015    2016   2017
customer_email
 aaafxtkgxo@gmail.com     NaN  127.62    NaN
 aaagldjgdt@gmail.com   44.72     NaN    NaN
 aaaglfuvti@gmail.com     NaN  160.79    NaN
 aaaicvtnzx@gmail.com   49.20     NaN    NaN
 aaaiekepot@gmail.com     NaN     NaN  43.68
...                       ...     ...    ...
zzzoxtrfic@gmail.com      NaN     NaN  15.74
zzzrjsowtl@gmail.com    95.80     NaN    NaN
zzztwcvgvp@gmail.com   129.75     NaN    NaN
zzzwmlwwmn@gmail.com      NaN   98.01    NaN
zzzxxclrua@gmail.com    57.24     NaN    NaN

[604618 rows x 3 columns]

In [45]:
customers = customers.fillna(0)
customers = customers.reset_index()
customers.head()

year         customer_email   2015    2016   2017
0      aaafxtkgxo@gmail.com   0.00  127.62   0.00
1      aaagldjgdt@gmail.com  44.72    0.00   0.00
2      aaaglfuvti@gmail.com   0.00  160.79   0.00
3      aaaicvtnzx@gmail.com  49.20    0.00   0.00
4      aaaiekepot@gmail.com   0.00    0.00  43.68

In [32]:
New_customer_revenue_2017 = customers[(customers[2016] == 0.00) & (customers[2017] > 0.00)]
Total_new_customer_revenue_2017 = New_customer_revenue_2017[2017].sum()
Total_new_customer_revenue_2017

28776235.039999995

In [34]:
new_customers = New_customer_revenue_2017[2017].count()
new_customers

229028

In [49]:
#Lost customers
lost_cusomers = customers[(customers[2017] == 0.00) & (customers[2016] > 0.00)]
total_lost_customers = lost_cusomers[2016].count()
total_lost_customers

183687

In [58]:
#exisisting customers revenue for 2017
exist_customer = customers[((customers[2015] > 0.00) | (customers[2016] > 0.00)) & (customers[2017] > 0.00) ]
exist_customer[2017].sum()

2740887.39

In [60]:
#exisisting customers revenue for 2016
exist_customer = customers[(customers[2015] > 0.00)  & (customers[2016] > 0.00) ]
exist_customer[2016].sum()

7485452.58